body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    background-color: #ff83b7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}

nav {
    background: black;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff83b7;
}

.items {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.card {
    background: #ffe4f0;
    border: 2px solid #ff83b7;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    background: #ff83b7;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background: #ff5ea0;
}

footer {
    background: black;
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

/* Cart Page */
.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.cart-item {
    background: #ffe4f0;
    border: 2px solid #ff83b7;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.cart-item h3 {
    margin: 0;
}

.cart-item button {
    background: red;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-total {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
